<div class="dreamineers__home-page">
  <h1>Dreamineers | Artist </h1>

  <a href="/login/spotify-redirect">
    Sign In with your Spotify Account
  </a>
  <p>You must first have a Spotify account to access the platform.</p>
</div>
